<h3>Formulaire d'article</h3>
<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="row">
            <div>
                {{ form_label(form.titre, "Titre") }}
                {{ form_errors(form.titre) }}
                {{ form_widget(form.titre) }}
            </div>
            <div>
                {{ form_label(form.contenu, "Contenu") }}
                {{ form_errors(form.contenu) }}
                {{ form_widget(form.contenu) }}
            </div>
            <div>
                {{ form_label(form.date, "Date") }}
                {{ form_errors(form.date) }}
                {{ form_widget(form.date) }}
            </div>
            <div>
                {{ form_label(form.auteur, "Auteur") }}
                {{ form_errors(form.auteur) }}
                {{ form_widget(form.auteur) }}
            </div>
            <div>
                {{ form_label(form.publication, "Publication") }}
                {{ form_errors(form.publication) }}
                {{ form_widget(form.publication) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <input type="submit" class="btn btn-primary"/>
    </form>
</div>